<template>
  <form @submit.prevent="submit">
    <div>
      <label> Name</label>
      <input type="text" v-model="enterName" />
    </div>
    <div>
      <label> Mobile</label>
      <input type="tel" v-model="enterPhone" />
    </div>
    <div>
      <label> E-Mail</label>
      <input type="email" v-model="enterEmail" />
    </div>
    <div>
      <button>Add More</button>
    </div>
  </form>
</template>

<script>
export default {
  emits: ["add-form"],
  data() {
    return {
      enterName: "",
      enterPhone: "",
      enterEmail: "",
    };
  },
  methods: {
    submit() {
      this.$emit("add-form", this.enterName, this.enterPhone, this.enterEmail);
    },
  },
};
</script>
