<template>
  <li>
    <h2>{{ name }}{{ isFavorite ? "(Favorite)" : "" }}</h2>
    <button @click="toggleDetails">
      {{ detailsVisible ? "Hide" : "Show" }} Details
    </button>
    <button @click="toggleFavorite">
      {{ isFavorite ? "Remove" : "Add" }} Favorite
    </button>
    <ul v-if="detailsVisible">
      <li>
        <strong> Phone :</strong>
        {{ phoneNumber }}
      </li>
      <li>
        <strong> Email :</strong>
        {{ emailAddress }}
      </li>
    </ul>
    <button @click="$emit('delete',id)">Delete</button>
  </li>
</template>

<script>
export default {
  // pass value usisng props
  // props: ["name", "phoneNumber", "emailAddress", "isFavorite"],

  props: {
    id: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    phoneNumber: {
      type: String,
      required: true,
    },
    emailAddress: {
      type: String,
      required: true,
    },
    isFavorite: {
      type: Boolean,
      required: false,
      default: false,
      // validator: function (value) {
      //   return value === "1" || value === "0";
      // },
    },
  },
  emits: ["toggle-favorite",'delete'],

  data() {
    return {
      detailsVisible: false,
    };
  },
  methods: {
    toggleDetails() {
      this.detailsVisible = !this.detailsVisible;
    },
    toggleFavorite() {
      this.$emit("toggle-favorite", this.id);
    },
    // deleteData(){
    //   this.$emit('delete')
    // }
  },
};
</script>
